[2015-01-14 16:49] geowurster opened #4 "Back button still breaks in VIIRS for Safari"
_Migrated from Basecamp on 2015-01-14 - originally created on 2014-05-14_

No idea if this is still an issue.  @ezys Any idea?

[2015-01-14 16:50] geowurster opened #5 "Add a fallback map to VIIRS for when the user does not have WebGL"
_Migrated from Basecamp on 2015-01-14 - originally created on 2014-05-14_

Include the last 30 days of flaring.

@ezys Is this still a going concern?

[2015-01-14 17:30] ezys commented on #5
It was resolved.

[2015-01-14 17:30] #5 closed

[2015-01-14 17:34] ezys commented on #4
Whatever it was, seems fixed now.

[2015-01-14 17:34] #4 closed

[2015-09-02 12:39] enriquetuya commented on #5
@redhog which bug did you fixed for export KML? Is this related to this ticket? https://github.com/SkyTruth/pelagos-server/issues/575

[2015-09-02 16:30] redhog commented on #5
Nope that bug is not related. I haven't seen an issue for this - only a comment in the source code where the download link was commented out, and when I enabled it, it didn't work, so I made it work :) But that's still for multiclustertile4

[2015-09-18 13:50] redhog opened #13 "Clean up dependencies"
- [ ] Remove unnessesary/duplicated dependencies (e.g. having both lodash and underscore)
- [ ] Research installing dependencies using bower and/or npm

[2015-09-18 13:50] #13 closed, assigned to nobody

[2016-01-07 16:00] andres-arana opened #89 "Safari 9 issues with CORS and redirections"
On safari 9, CORS headers are not processed on 302 redirect requests. See #739.

This ticket is to revisit the issue once we start using authenticated requests on tiles, because there shouldn't be any more 302 redirect on AJAX requests after that.

[2016-01-18 13:41] redhog commented on #89
This is not true, unless we also serve the client files (HTML, JavaScript, CSS) from GAE. Currently the client is loaded from GCS, and CORS occurs when accessing GAE.

[2016-01-18 13:45] pwoods25443 commented on #89
We can certainly serve everything from GAE.  We only started serving the client form GCS because dojo had more than 10,000 files in it, which exceeds the GAE limit.

[2016-01-19 15:50] redhog commented on #89
GCS is also much much faster than GAE...

[2016-01-26 20:50] andres-arana opened #109 "Rename event data toString into toNode or similar"
The `toString` method of event data doesn't actually return a string, but a jQuery node instead.

We should make that explicit by renaming the `toString` method into `toNode` or similar.

[2016-02-04 12:31] redhog opened #121 "Clean up cruft from BasicSidebar and other Simple stuff"
- [ ] The editing sidebar should handle and send Animation.updated event (esp for visibility)
- [ ] The basic sidebar should handle Animation.data_view events (slider)
- [ ] Events should detect and cancel recursive notifications for the same event
- [ ] Break apart BasicSidebar so that each panel is in a different file (and preferably as a widget)

[2016-02-09 21:38] geowurster opened #126 "0.15 // Additional debugging tools"
Two debugging feature requests:

**Show Zoom Level**

It would be very useful if the debug tools could tell us the zoom level we are seeing in the visualization, and even more useful if it would show us as we mouse around from tile to tile since tiles fail up and we may not be seeing what we think we are seeing.

@redhog mentioned that this is possible with something like the snippet below but I c

[2016-02-10 11:20] redhog commented on #121
Superseeded by https://github.com/SkyTruth/pelagos-server/issues/931

[2016-02-10 11:20] #121 closed, assigned to redhog

[2016-02-15 17:10] enriquetuya opened #130 "Bugfix for CartoDB layer remove"

[2016-02-15 17:11] #130 closed, assigned to andres-arana

[2016-02-23 13:41] redhog commented on #126
+1 on these - these are good things to add, and not terribly hard to build

[2016-02-23 17:29] pwoods25443 opened #144 "Webgl rendering should treat weight < 1.0 differently than weight > 1.0"
When the cluster (heatmap) animation displays points with weight < 1.0 they get too faint to see too quickly as the value moves away from 1.0 so that 0.5 is practically invisible.   Let's try just setting a minimum of 1.0 in the webgl rendering.  Previously we were doing this at tile generation time.

[2016-02-23 17:35] pwoods25443 commented on #144
OK , so it looks like weight < 1.0 is already treated differently here:

https://github.com/SkyTruth/pelagos-client/blob/devel/js/app/Visualization/Animation/ClusterAnimation-vertex.glsl#L53

I propose that we treat it differently, but in a different way.

Let's just force values < 1.0 to be equal to 1.0 and see how that looks.

We may want to make this more sophisticated by tying this manipulatio

[2016-03-08 01:35] enriquetuya commented on #126
Let's work on them on the 15 SPRINT.

[2016-03-09 13:47] redhog commented on #126
How to use the debugging tools:
- To find out tile data for a vessel point
  - Shift-click the vessel point. Point data, including tile name, level, tags, loading status etc is displayed in the info pane
- To find out about all loaded tiles and their levels
  - Switch to the edit sidebar, select the Data pane. Tiles are displayed with their name, level, tags, loading status etc.
- To get a visual

[2016-03-09 13:47] redhog commented on #126
I assigned it to you. If you are uncomfortable evaluating and merging send it on to Andres

[2016-03-09 16:47] geowurster commented on #126
@redhog How and where am I to evaluate this?

[2016-03-10 14:00] redhog commented on #126
You can just run it on local host (possibly using the Vagrant setup).

[code]

Then go to localhost:8000/index.html?workspace=URLENCODED_WORKSPACE_URL

[2016-03-10 14:41] geowurster commented on #126
Ah right.  Thanks!

[2016-03-11 17:06] enriquetuya commented on #89
Closing, following this issue here https://github.com/SkyTruth/pelagos-server/issues/1018

[2016-03-11 17:06] #89 closed, assigned to andres-arana

[2016-03-23 16:13] enriquetuya commented on #126
Please resolve on the `release-0.15` branch.

Tested on 0.15.0 with http://alpha-dev.globalfishingwatch.org/viz?workspace=/workspace/9e203432-a1c5-44a0-a7a4-2f7508f7a44e
- [ ] When shift clicking on a vessel I got the error:
  `Uncaught TypeError: Cannot read property '0' of undefined` on the console. Following this one here: https://github.com/SkyTruth/pelagos-server/issues/1041
- [ ] I also coul

[2016-03-23 16:21] redhog commented on #126
@enriquetuya  Please clarify the last note, how did the latter it not work?

[2016-03-23 16:25] enriquetuya commented on #126
@redhog updated comment above.

[2016-03-23 16:38] redhog commented on #126
But you still didn't explain what you meant by "I also could not get the To get a visual overview of what tiles are loaded, loading or have errors working.".... What did you click, what did you expect to see, and what did you see instead?

[2016-03-23 16:40] enriquetuya commented on #126
@redhog check the comment I mentioned: https://github.com/SkyTruth/pelagos-client/issues/126#issuecomment-194302634

I follow the steps you mentioned:

[code]

And did not get anything displaying which tiles are loaded and which ones are not.

[2016-03-23 16:53] redhog commented on #126
Ah so you add the tile animation, but it doesn't change the map? Does it show up in the layer list?

[2016-03-23 19:49] enriquetuya commented on #126
@redhog It does show on the list but does not change the map. Please go ahead and try it yourself. If it works for you create a screncast of how to do it.

[2016-03-29 11:48] redhog commented on #126
This is working on release-0.15 when run on /workspace%3Fid%3Dpipeline_2015_08_07_13_33_31 but not on /workspace/9e203432-a1c5-44a0-a7a4-2f7508f7a44e Strange.

[2016-03-29 14:25] enriquetuya commented on #126
@redhog tests are failing with

[code]

[2016-03-30 10:03] redhog commented on #126
Fixed the unit test bug

[2016-03-30 14:25] enriquetuya commented on #126
Tested on client 0.15.1

[2016-03-30 14:25] #126 closed, assigned to enriquetuya

[2016-04-05 17:41] enriquetuya commented on #144
@redhog how difficult would it be to implement what Paul suggested?

[2016-04-05 17:46] enriquetuya commented on #144
In the meantime we are trying this approach: https://github.com/SkyTruth/benthos-pipeline/issues/479

[2016-04-06 08:16] redhog commented on #144
Very easy, but it would make things worse for clustering. We need to set the value to 1 in the TILESET pipeline _before_ we cluster, so that the intensity of clusters include this risen intensity, or we would have one more source of the zoom problem we're already having...

[2016-04-22 16:51] enriquetuya commented on #144
We still need to address this.
Including Paul's comment after his review of the latest tileset with weight changes:
https://github.com/SkyTruth/benthos-pipeline/issues/411#issuecomment-213111981

[2016-04-27 16:55] andres-arana commented on #144
Before we discuss about this we need to all know how it all works right now, so here we go. These are things @redhog already knows (and if you find any error let's talk here about them), but @enriquetuya and @geowurster may no be aware of.

# The current state of things

## The pipeline

The parameters that have some degree of influence on the interval are the cluster sigma and weight. The pipelin

[2016-04-28 10:23] redhog commented on #144
Excellent summary @andres-arana . I feel like this is exactly what was missing from the discussion. @enriquetuya and @geowurster please read it!

I made a small clarification of what sigma means.

[2016-04-28 14:52] redhog opened #190 "Loading spinner spins on/off when idle"
Seems to hang the app to for short periods of time. What is it loading?

[2016-05-02 15:50] enriquetuya commented on #144
@pwoods25443 Which of the solutions stated by @andres-arana do you think is best for start working on? If it is the latest one, please let us know which other statistics you think could work.

[2016-05-03 16:06] #190 closed, assigned to enriquetuya

[2016-05-10 14:42] pwoods25443 commented on #144
@enriquetuya I think we have to stick with summing of the weights - this is a clustering of individual points, so the cluster has to sum.  our problem comes when we have clusters with just a few points in them.  At that point I think what you really want is to just switch modes and go from clustering to just fixed intensity points.  One way to do this is to switch modes based on the total number o

[2016-06-01 13:01] andres-arana commented on #109
I'm closing this as the client rewrite makes this ticket obsolete.

[2016-06-01 13:01] #109 closed, assigned to andres-arana

[2016-06-01 16:37] rrequero opened #197 "Extract Vector tile algorithm in a separate library (in other repository)"
We need can added the vectortile algorithm that it transform the binary tile to Array of Javascript in the new application.
Need that the library implements the npm standard library.
It is necessary that the library is implemented in vanillajs (no frameworks or without visualization libraries) because only use it to convert the server response (binary) in an array of javascript.
Thanks

[2016-06-01 16:39] rrequero opened #198 "Return promise instead of events (Vectortile library)"
If is possible, we need that the vectortile library returns a promise object when we execute the principal function. And when the algorithm will finish,it resolves the promise with the result data.

Thanks

[2016-06-01 18:12] enriquetuya commented on #198
@rrequero for the first iterations I think that it is worth doing the translation of events to promises on the client side. If we see that everything works and the performance gets affected then we should see of implementing promises on the library itself.

I'm assigning to @andres-arana  so he can provide you some docs of how to translate events to promises.

[2016-06-01 18:18] enriquetuya commented on #197
@rrequero I think on a first phase we could use the branch on pelagos-client (https://github.com/SkyTruth/pelagos-client/tree/libraryification) directly with the AMD modules. And then move to a separate repo once everything is tested. You should be able to use npm pointing to the github branch and then use webpack. I'm assigning @andres-arana so he can provide more details.

[2016-06-09 15:47] redhog opened #204 "Remove timestamps from jsdoc"

[2016-06-09 16:25] enriquetuya commented on #204
Related conversation: https://globalfishingwatch.slack.com/archives/visualization/p1465481215000002 and
https://github.com/SkyTruth/pelagos-server/issues/1092#issuecomment-224906597

[2016-06-10 10:25] redhog commented on #204
Done in new PR

[2016-06-10 13:22] #204 closed, assigned to andres-arana

[2016-06-10 17:22] redhog opened #206 "Fix testem"
Fix load/build issue described in https://github.com/SkyTruth/pelagos-client/pull/202#issuecomment-225228436

[2016-06-10 17:59] enriquetuya opened #207 "0.20 // CartoDB layers are broken after librarification"
moved to pelagos-server

[2016-06-10 17:59] #207 closed, assigned to redhog

[2016-06-14 14:02] #206 closed, assigned to andres-arana

[2016-06-27 08:16] redhog commented on #197
This has been implemented (all parts can now be loaded individually using requirejs or some other amd loader).

[2016-06-27 08:16] #197 closed, assigned to andres-arana

[2016-07-01 14:33] redhog opened #216 "0.20 // Expose torque layer time slider"
Make the torque layer time slider visible on a branch

Related to https://github.com/SkyTruth/pelagos-server/issues/1084

[2016-07-04 10:58] redhog commented on #216
This is implemented on a branch, _not_ meant for merging into master/devel/release: https://github.com/SkyTruth/pelagos-client/tree/216-visible-torque

[2016-07-05 16:18] enriquetuya commented on #216
@redhog why is this intended not to be merged? Was this something that you talked with Paul last Friday? What was the idea? Where should it be deployed?

Couldn't we make the change only to be displayed on the editing sidebar so we can merge it?

[2016-07-06 07:14] redhog commented on #216
This is a hack for testing purposes. Making it only display sometimes would be way more work, and I'd only want to do that if it was actually to be used in production. But this is just to be able to evaluate torque layers and their capabilities properly, to decide if we're actually going to use them.

[2016-07-06 12:46] enriquetuya commented on #216
@redhog who is intended to use this branch for testing? @pwoods25443 requested this?

[2016-07-06 13:42] redhog commented on #216
Yes, and he's the one who needs it

[2016-07-07 15:15] enriquetuya commented on #216
@pwoods25443 what was your plan for this change?

[2016-07-12 14:47] #216 closed, assigned to enriquetuya, pwoods25443

[2016-08-02 10:52] pwoods25443 opened #231 "Heatmap should change to points when you zoom in far enough"
Make a parameter in the workspace that specifies a zoom level where you change the way you draw the heatmap to draw solid points for every point with a weight greater than some value.

[2016-08-02 13:20] redhog commented on #231
Ping @pwoods25443 is this the effect you wanted? Note the new slider "heatmap_zoom" for the ClusterAnimation, in the editing sidebar.

[2016-08-02 14:33] enriquetuya commented on #231
@redhog Based on our call, lets make the default behaviour to be disabled but that can be changed by the editing sidebar.

[2016-08-11 11:28] redhog opened #243 "Test client on tablet"
- Pinch zoom
- Click on stuff

[2016-08-17 15:17] enriquetuya commented on #231
@pwoods25443 you can try this out here:
http://alpha-dev.globalfishingwatch.org/viz?workspace=/workspace/benthos-pipeline-699-tileset-f
go to the editing sidebar, open the fishing effort and modify the value for `heatmap_zoom` by default it is disabled.

![points](https://cloud.githubusercontent.com/assets/355597/17741956/8c33b376-6474-11e6-8a35-1f91f72a5da8.png)

[2016-08-17 17:59] pwoods25443 commented on #231
Hmm - that does not work very well.  I think we need to look at filtering the heatmap to only contain points with weight > 0.5 before clustering if we're going to do this.  We don't want to end up highlighting all the non-fishing points that end up in there.

[2016-08-17 18:08] pwoods25443 commented on #231
@redhog when I adjust the heapmap zoom value so that more points are displayed, I can't shift click on any of them.  I can only shift click on the ones that are displayed before I adjust heatmap zoom.  Why is this?

[2016-08-18 14:35] redhog commented on #231
@pwoods25443 That's because I probably screwed up the implementation of this feature in the mouseover shader code... The same thing needs to happen both in the normal shader code and the mouse over shader.

[2016-08-19 15:11] enriquetuya opened #256 "Fix Build"
Build is failing:
https://travis-ci.org/GlobalFishingWatch/pelagos-client/builds/153573368

[2016-08-19 15:52] enriquetuya commented on #256
@redhog still failing: https://travis-ci.org/GlobalFishingWatch/pelagos-client/builds/153596160

[2016-08-19 16:27] redhog commented on #256
Done

[2016-08-19 16:27] #256 closed, assigned to redhog

[2016-08-23 13:19] redhog opened #261 "Responsive design"
Make the design handle small screens

[2016-08-23 14:27] redhog opened #263 "Correct handling of AJAX withCredentials"
- [x] Set withCredentials correctly on search POST requests
- [x] Save withCredentials from what worked for the header

[2016-08-23 14:28] redhog commented on #263
ping @andres-arana

[2016-08-23 18:07] enriquetuya commented on #243
@redhog please go ahead and test this out on your ipad.
On @pwoods25443 ipad pro it looks like the following:
![ipad pro with chrome](https://cloud.githubusercontent.com/assets/355597/17903827/441fdfaa-6943-11e6-915a-8851c977fd01.jpg)

[2016-08-24 02:18] enriquetuya commented on #231
Deploying to beta2 to test it out.

[2016-08-24 08:17] redhog commented on #261
@enriquetuya I have updated the PR with @jarmstrongbts :s latest design changes. Please review and merge.

[2016-08-26 13:11] #261 closed, assigned to enriquetuya

[2016-08-30 15:24] pwoods25443 opened #288 "Better message on cluster select"
When the user clicks on a cluster in the heatmap, it opens the vessel info tab in the sidebar and displays 'Cluster Selected'

This message should be more informative.   Perhaps it could say something like:

`There are multiple vessesls at this location.  Zoom in on the map some more`

<img width="270" alt="global_fishing_watch" src="https://cloud.githubusercontent.com/assets/2694181/18095247/5764

[2016-09-01 18:23] jarmstrongbts opened #292 "Upload 3 icons to GFW blog server"
Please upload the following 3 icons to the blog server :
- http://beta2.globalfishingwatch.org/2173f2478013bc6fa091b1cdb2a6926b.svg (email)
- http://beta2.globalfishingwatch.org/9d0a23199dbbc2ab7fdab49adeca9d71.svg (twitter)
- http://beta2.globalfishingwatch.org/6632b58184d4c207ca024e2436d553c0.svg (facebook)
- http://beta2.globalfishingwatch.org//1903c0924a47592577a26e72c4f300ac.svg (mobile menu)

[2016-09-02 13:24] redhog commented on #243
- [ ] Color picker hue picker moves to strange position when clicked and moved on Nexus 9
- [x] Need to set meta tags to not zoom whole page
- [x] ~~Impossible to click/edit the start/end dates in the timeslider~~
  - Paul says it should be this way because on tablets we want to avoid the keyboard

[2016-09-02 15:49] jarmstrongbts commented on #292
Added one more icon, for the mobile menu, also LDF logo.

[2016-09-06 14:16] enriquetuya opened #298 "Re-visit the way zoom buttons are moved"
We want to change the way the zoom buttons are being moved, we implement a hack here.
https://github.com/GlobalFishingWatch/pelagos-client/pull/297

[2016-09-06 14:21] redhog commented on #298
I suggest not moving the button. There really isn't a good way to do this - there is no class or id on the button, or any surrounding divs.

[2016-09-06 17:34] redhog commented on #288
Maybe display the number of vessels in the cluster? We do have that information...

[2016-09-06 17:44] pwoods25443 commented on #288
@redhog yeah it would be nice to be able to tell them something about the cluster, but failing that we should at least tell them that they need to zoom in

[2016-09-06 18:05] pwoods25443 commented on #231
@redhog playing around with this a little more, I think that we want to make a gradual transition over 2 or 3 zoom levels from pure heatmap to solid points.  The current implementation is too dramatic a change for one zoom level.

 The way we could do this is to have a minimum point radius and step it up from 0 to MAX

For instance, for zoom levels 0 to 7 we display the heatmap as usual
For level

[2016-09-07 14:59] enriquetuya commented on #298
@redhog have you tried out the API?
https://developers.google.com/maps/documentation/javascript/examples/control-positioning
https://developers.google.com/maps/documentation/javascript/reference#ControlPosition LT or LC could work.

[2016-09-07 16:06] jarmstrongbts commented on #298
There seems to be no way to reliably call the map zoom buttons. Google makes it very hard by not giving you unique ids or classes to grab. You can't grab the title of the zoom button, because it may change based on language selected by the user. You can't grab the image filename, because it changes based on dpi. I don't love the idea of having the map buttons at left center, but if we can't move t

[2016-09-07 16:09] jarmstrongbts opened #303 "Reduce bottom margin of sidebar/Adjust time slider margins"
We left space below the sidebar for date ranges, but since we've decided not to use the space, let's assign it to the sidebar instead. Reduce the bottom margin on the sidebar (try double the size of the right margin), and also adjust the time slider margins so they are all the same.

[2016-09-07 16:50] redhog commented on #288
Ok, so we don't have that data for now. We have weight and sigma, not count :/

[2016-09-08 13:45] jarmstrongbts opened #310 "Rearrange buttons/Create new map zoom buttons"
- move time zoom buttons to center of time window - DONE
- larger play button at left of time slider
- move share button (above time slider?)

[2016-09-08 15:44] enriquetuya commented on #292
@jarmstrongbts The URLs on the description of the ticket are all blank.

[2016-09-08 16:01] enriquetuya commented on #292
@jarmstrongbts Done. Moved to `wp-content/uploads/2016/09`
Name of the files are:

[code]

[2016-09-08 16:01] #292 closed, assigned to enriquetuya

[2016-09-09 08:23] redhog opened #316 "Responsive design broken by new play button design"
The new play/share/time zoom buttons design broke the responsive design (the @media max-width/max/height rules). Could you fix this?

How to reproduce:
- Check out latest devel
- Resize the browser window vertically and/or horizontally until the timeslider and sidebar changes.

[2016-09-09 12:29] #288 closed, assigned to enriquetuya

[2016-09-09 14:21] #243 closed, assigned to redhog

[2016-09-09 15:34] enriquetuya commented on #316
@redhog please check the PR.

[2016-09-11 20:27] pwoods25443 opened #321 "Timeslider zoom in/out buttons cover window start/end dates and prevent edit"
The div that contains the timeslider is 100% width and covers the time window start and end dates.  This intercepts the mouse click and prevents the user for editing the dates.

<img width="696" alt="developer_tools_-_http___ui_prod_globalfishingwatch_org_map_workspace_pelagos-api-0b57d944-83a0-4b25-9fa2-41ae446cc716" src="https://cloud.githubusercontent.com/assets/2694181/18420256/3bdbbd20-783c-1

[2016-09-12 13:24] jarmstrongbts commented on #321
PR for this fix is here:
https://github.com/GlobalFishingWatch/pelagos-client/pull/322

[2016-09-12 14:02] #316 closed, assigned to redhog

[2016-09-12 14:50] pwoods25443 commented on #310
@jarmstrongbts if you put "Closes #310" in the description of the PR, this it will automatically close the issue when the PR is merged.   Otherwise you need to close it manually.  If this issue is done, then please go ahead and close it.

[2016-09-12 14:54] #310 closed, assigned to jarmstrongbts

[2016-09-12 15:55] pwoods25443 opened #327 "Handle Touch events for the map"
Maps API does not handle touch events as well as we would like.  The recommendation from CMU is to handle them ourselves.

From:   Paul Dille pdille@andrew.cmu.edu

Yeah, this has been a problem for years with Maps API. Here's one of the bug threads about this, dating back to 2012. At that end of that thread you'll find a potential solution to patching in what you want. Though I haven't tried that

[2016-09-12 16:55] #321 closed, assigned to jarmstrongbts

[2016-09-13 15:39] enriquetuya opened #334 "Change map base color"
Update the styles and colors of the base map layer, using the website colors.

[2016-09-13 15:51] jarmstrongbts commented on #334
[johnna-benthos-pipeline-beta-tileset-daily-update-with-filter.json.zip](https://github.com/GlobalFishingWatch/pelagos-client/files/470235/johnna-benthos-pipeline-beta-tileset-daily-update-with-filter.json.zip)

[2016-09-13 16:13] enriquetuya commented on #334
[code]

[2016-09-13 16:45] enriquetuya commented on #334
http://dev.globalfishingwatch.org/map/workspace/vizzuality-gfw-integration-dev-final-v1.json

[2016-09-13 17:00] #334 closed, assigned to jarmstrongbts

[2016-09-13 19:25] jarmstrongbts opened #336 "Play button is broken on responsive"

[2016-09-13 20:07] #336 closed, assigned to jarmstrongbts

[2016-09-15 15:43] #298 closed, assigned to enriquetuya

[2016-09-16 08:42] redhog commented on #231
You could fake it with weight and sigma, but that gets complicated, so I'd recommend not to. But having a minimum that changes depending on zoom level is doable. However, the exact details might be really hard to get right so it looks good. Prepare for some experimentation time on this.

[2016-09-16 09:26] redhog opened #341 "Styling of time outside data range"
The timeslider styling (color) of the time outside the available data range broke some time during our styling changes before release. It's hard to know if one has reached the end of the data, or there's a bug when one can't move the timeslider any more.

[2016-09-16 15:17] enriquetuya opened #343 "Avoid scrolling the map below the world"
Right now you are allowed to drag the map below the world, cartoDB starts sending 404 due to this issue.
![avoid_drag](https://cloud.githubusercontent.com/assets/355597/18591045/68eb0676-7c07-11e6-8153-fc5a1de3333e.gif)

[2016-09-19 12:34] redhog commented on #343
http://code.google.com/p/gmaps-api-issues/issues/detail?id=750
http://stackoverflow.com/questions/3125065/how-do-i-limit-panning-in-google-maps-api-v3

[2016-09-19 14:13] redhog opened #346 "Feature request: area inspector"
- [x] Select a rectangle
  - Get list of seriesgroups
- [x] Add animations for each vessel track
  - [x] Set name to vessel name
  - [ ] Originally set to hidden
  - [x] Do info query to get names
- ~~[ ] Display vessel track animations in a separate blade in the sidebar ("Vessel tracks"? Better more generic name?)~~ Moved to separate ticket
- [x] Info icon displays vessel info from /info

[2016-09-19 14:17] redhog opened #347 "Feature request: Timeline visualization"
Show graphs in timeline
- Show speed etc in timeline
- Show density of points for heatmap

[2016-09-19 14:25] redhog opened #348 "Feature suggestion: Multiple selections"
Let the user save a vessel track (selection animation) as a normal animation, so that selecting another vessel doesn't deselect it. This could be done with a little save symbol next to the vessel track in the sidebar.

This is related to https://github.com/GlobalFishingWatch/pelagos-client/issues/346

[2016-09-19 14:25] redhog opened #349 "Feature suggestion: Let users report a track segment or part of the tileset"
Add a button next to share workspace called "report content" or somesuch that shares a workspace and then lets the user send that link plus a comment to us.

[2016-09-19 20:06] #341 closed, assigned to jarmstrongbts

[2016-09-20 15:58] #343 closed, assigned to enriquetuya

[2016-09-20 17:15] enriquetuya opened #353 "Right click pop-up is persisted on save workspace even if it was de-selected"
Steps to reproduce:
1- go to globalfishingwatch.org/map
2- Right click on a vessel.
3- Deselect it (it can be with the `x` or clicking anywhwere on the screen)
4- Save the workspace.
5- Open the workspace, the pop-up will be shown even.

[2016-09-21 16:45] enriquetuya commented on #349
Assigning this one to me, I have to do some mocks to check with the graphic/ux designer in order to see which is the best way to implement this on themap.

[2016-09-21 16:55] enriquetuya opened #354 "Avoid multiple calls of the share workspace button"
The call to the API of saving workpace takes 2-3 seconds, a user can click on the share workspace multiple times and that will trigger multiple calls to the api, we want to change the interaction so:
- If a user has clicked the share workspace, he has to wait for that call to return in order to perform another share workapace call.
- When a user click on share workspace, display the pop-up  with a

[2016-09-22 13:11] redhog commented on #327
@enriquetuya The above code does not handle pinch zoom. That is way more complicated than just transplanting the above code. Is that part of this ticket?

[2016-09-22 14:03] enriquetuya commented on #353
@redhog the build is broken.

[2016-09-23 15:09] enriquetuya opened #357 "Research and fix issues with integration tests"
The command "pip install chromedriver_installer>=0.0.4 --install-option="--chromedriver-version=2.10"" failed and exited with 1 during .
This sounds like an upstream dependency problem and/or a problem with travis

[2016-09-23 15:14] enriquetuya commented on #353
Build issue not releated to the PR itself, create a new ticket for that: https://github.com/GlobalFishingWatch/pelagos-client/issues/357

[2016-09-23 17:30] #353 closed, assigned to enriquetuya

[2016-09-26 14:13] enriquetuya commented on #357
Based on our call with @andres-arana and @redhog we will disable all integration tests except for the tests that do not interact with the tileset.

The reason of removing the integration test that uses tiles is that they have never being capable of finding any bug with these tests, but they have taken a lot of time of fixing them.

[2016-09-26 14:29] enriquetuya opened #361 "Change where js minify js is done"
Right now the minification is done on the DOJO build step, we want to see if we can remove it from there an minify using another library the app.js alone.

[2016-09-26 19:23] #357 closed, assigned to enriquetuya

[2016-09-27 16:00] enriquetuya opened #367 "Welcome message only displayed once"
We need a checkbox `Don't display this again.`. When clicking on the checkbox it should store a cookie that will let us know on the posterior visists that we should not display the information window to the user. Please continue working on https://github.com/GlobalFishingWatch/pelagos-client/tree/information_pop_up and then merge to devel.

[2016-09-27 16:04] enriquetuya commented on #367
@redhog this is what we are trying to achieve:
![help_mock1_1024](https://cloud.githubusercontent.com/assets/355597/18881785/0fea9ea6-84b3-11e6-9cf1-b769765affdf.jpg)

[2016-09-27 16:06] enriquetuya opened #368 "Welcome message documentation"
We need to add the documentation of how to add the welcome message url/simple description. Please add this to the https://github.com/GlobalFishingWatch/pelagos-client/tree/information_pop_up branch.

[2016-09-27 18:55] enriquetuya opened #369 "Welcome pop-up"
# We want to have a pop-up on the site that displays some hints and information about the site. The message should be an html that gets updated when we do the deploy of the site. So it should be possible to send a url as a parameter.

The pop-up will look like the following:

![help_mock1](https://cloud.githubusercontent.com/assets/355597/18887115/3183a042-84c9-11e6-8132-46a656cea329.jpg)

The use

[2016-09-27 18:55] enriquetuya commented on #368
Closed in favor of: https://github.com/GlobalFishingWatch/pelagos-client/issues/369

[2016-09-27 18:55] #368 closed, assigned to redhog

[2016-09-27 18:55] enriquetuya commented on #367
Closed in favor of: https://github.com/GlobalFishingWatch/pelagos-client/issues/369

[2016-09-28 07:47] #367 closed, assigned to redhog

[2016-09-29 14:38] redhog commented on #346
Connects https://github.com/GlobalFishingWatch/pelagos-client/issues/348

[2016-09-29 15:53] redhog commented on #346
Should we use https://developers.google.com/maps/documentation/javascript/examples/user-editable-shapes or a webgl rectangle? Mouse interaction might be easier with webgl, but we have to code more ourselves.

[2016-10-03 15:18] #354 closed, assigned to enriquetuya

[2016-10-03 15:18] #361 closed, assigned to andres-arana

[2016-10-03 19:27] enriquetuya commented on #369
@redhog the functionality itself works great but we need the styles to match the ones on the mock provided by Johnna:

https://cloud.githubusercontent.com/assets/355597/18887115/3183a042-84c9-11e6-8132-46a656cea329.jpg

Also we need to align the `don't display again` message with the close button:

![selection_013](https://cloud.githubusercontent.com/assets/355597/19050705/35c1f07a-8986-11e6-880a-

[2016-10-03 19:28] enriquetuya commented on #369
Setting as blocker since this is needed for the current sprint.

[2016-10-04 09:24] redhog commented on #369
@enriquetuya @jarmstrongbts Including the blue background? That does not match the dialog styling in the rest of the app. Would you like to:
- Make yet another special case
- Change the styling of all dialogs
- Apply the current dialog colors to this dialog too

Also, could you send me the html for the message in Johnnas dialog example? Most of this is about in-line styles that needs to be applied

[2016-10-04 14:48] enriquetuya commented on #369
@redhog let's fix the vertical alignment, and leave the styles for a new ticket for the next sprint.

![35c1f07a-8986-11e6-880a-601d46726e4f](https://cloud.githubusercontent.com/assets/355597/19078958/56baccbe-8a28-11e6-8a4c-8280e8929e36.jpg)

[2016-10-04 19:24] enriquetuya commented on #369
@redhog is it possible to display the message pop-up before any of the other layers starts to get loaded? Check how it is working now:

![ezgif-3519188742](https://cloud.githubusercontent.com/assets/355597/19089009/ebc68610-8a4e-11e6-9164-314455e77610.gif)

[2016-10-05 17:13] enriquetuya commented on #327
@redhog I am not sure from where did @pwoods25443 take the information of the description of the ticket.

[2016-10-05 19:46] enriquetuya commented on #369
@redhog on the ipad, the pop-up is being deisplayed always, no matter you set the `don't show again` (check it yourself) and @vaiduke2 reported on windows Chrome, that after she close the browser and opens it again the message is displayed again also.

You can try it out here: http://dev.globalfishingwatch.org/map

[2016-10-06 10:51] redhog commented on #369
The bug had nothing to do with environment - the cookie was set to session only.

[2016-10-06 15:40] enriquetuya commented on #369
@redhog the error keeps happening on ios-safari. Please try `dev.globalfishingwatch.org` on that device.

[2016-10-07 19:24] enriquetuya commented on #369
@redhog as we discussed on our call on Friday, please check how `dev.globalfishingwatch.org` welcome pop-up works on your Mac Safari, to see if we have the same issue as on iOS device.

Open the url, check the `don't close`, close safari, and open it again.

For other debugging methods check here: https://github.com/SkyTruth/pelagos-server/issues/1208#issuecomment-252340432

[2016-10-11 09:50] redhog commented on #369
The error does not happen on MacOS Safari.

[2016-10-11 10:31] redhog opened #385 "Feature request: Vessel tracks in separate blade"
Display vessel track animations in a separate blade in the sidebar ("Vessel tracks"? Better more generic name?)

Implementation idea: Animations can have a category (a string value). If at least one animation exists withing a certain category, a new blade is created with that name, holding a SimpleLayerList instance filtering for that category.

Separated out of https://github.com/GlobalFishingWat

[2016-10-11 16:17] enriquetuya commented on #369
I'll create a separate ticket for the bugs. I'll be adding the new text on the deploy repo:

[code]

[2016-10-11 18:02] andres-arana opened #386 "Move report fields to the tileset header"
Related to https://github.com/GlobalFishingWatch/GFW-Tasks/issues/306#issuecomment-252990466.

We need to change the current reports implementation to take the report fields from the cartodb header (in the file referenced in the description field of the cartodb data) instead of the workspace.

The new schema we are going to use to define that a layer supports reports is the following structure in

[2016-10-13 18:01] #369 closed, assigned to enriquetuya

[2016-10-14 14:05] enriquetuya opened #390 "Handle partial directory listing failures"
Creating ticket to keep track of the PR created from Egil.

[2016-10-14 14:20] enriquetuya opened #391 "Changes for multiple vessel functionality"
In order to release the changes on  https://github.com/GlobalFishingWatch/pelagos-client/issues/348 we would like to have some changes:
- [x] We need that instead of `Vessel Track` the layer is named like the vessel that was saved and if that data is not present use the series_group value.
- [ ] Vessel Track layer should have an information pop-up that has the details of the vessel. Will be done o

[2016-10-14 14:41] enriquetuya commented on #346
@redhog please resolve the conflicts on the PR (https://github.com/GlobalFishingWatch/pelagos-client/pull/384) so I can merge it. I've tested locally and works well enough. I'm doing a separate ticket with improvements to work on next week.

[2016-10-14 17:13] enriquetuya commented on #385
To test:
- Go to advanced mode
- Go to edit mode
- Expand one of the animations
- Click on the [empty] value right of "Category:"
- Enter a new category name
- Press enter

The animation should now be moved to a new tab with the name you entered.

[2016-10-14 19:56] redhog commented on #391
Popup content is related to https://github.com/GlobalFishingWatch/pelagos-api/issues/70 and the move of rendering of hardcoded popup stuff to pelagos-api. This very specific ordering and naming of fields should never have been a client issue to begin with.

[2016-10-14 19:57] redhog commented on #391
Changing the layer name is possible in edit mode. Just click the title and change it.

Question: When no vessel info is available, could we use the series_group value, rather than the index, since that won't get messy if you add and remove multiple layers many times (the same vessel always have the same number)?

[2016-10-14 19:58] redhog commented on #391
As for the color picker, should it set the high and low values to the same value?

[2016-10-17 00:38] enriquetuya commented on #385
@redhog
- [x] the PR has conflicts: https://github.com/GlobalFishingWatch/pelagos-client/pull/389 Conflicting files:
  `js/app/Visualization/UI/SidePanels/SimpleLayerList.js`
- ~~[ ] We need to change something on the functionality, when you create a category, you have the blade with that category only when you have at least one animation selected. For example, if you set the `Vessels` clategory f

[2016-10-17 00:43] enriquetuya commented on #391
@redhog I've updated the description.

[2016-10-17 00:57] enriquetuya commented on #346
@redhog we need to:
- [x] 404s when selecting an area. Detail here: https://github.com/GlobalFishingWatch/GFW-Issues/issues/2
- [x] Draw the rectangle on top of ALL animations, righw now the rectangle is drawn below the heatmap, which is very difficult to see.
- [ ] Increase the width of the border and make it white, the black one makes it difficult to see on both bathimetry layer and regular view

[2016-10-17 16:16] enriquetuya commented on #385
Setting as blocker since I can't test this out.

[2016-10-18 14:32] enriquetuya opened #394 "Make only the titles of the blades on the side menu UPPERCASE"
Based on https://github.com/GlobalFishingWatch/GFW-Tasks/issues/312

We need to remove the UPPERCASE from everywhere except the BLADES Title on the side menu.

[2016-10-18 15:40] enriquetuya commented on #385
@redhog I'm trying the categorized blades and I am not being able to get the vessels selected after I have set the category to be included on the `VESSELS` category.

MY steps:
1- load map
2- select vessel
3- `ctrl alt a` and go to config
4- expand vessel track configuration
5- set category to `vessels`
6- switch to non editing view
7- save track
8- select another track, it appears on the `layers`

[2016-10-18 15:51] enriquetuya commented on #391
@redhog
- [x] the PR has conflicts: https://github.com/GlobalFishingWatch/pelagos-client/pull/393

[code]
- [ ] Add `text-overflow: ellipsis;` to the layer name so this does not happen:

![image](https://cloud.githubusercontent.com/assets/355597/19485508/bf530926-9531-11e6-88da-eb633f9db40e.png)

[2016-10-19 13:11] redhog commented on #385
This should work now :)

[2016-10-19 13:27] redhog commented on #391
I have fixed the conflict. The ellipsis doesn't work due to the dom strcuture and styling of other elements - the animation-title never gets its size restricted, and it's not possible to (easily) do that. If we reworked the styles and used display: table-cell, maybe... I suggest making the sidebar just ever so much wider by default...

[2016-10-19 15:08] enriquetuya commented on #391
@redhog The PR is still in conflict, I think it is due to the latest Categorized Blade merge.
- [x] Fix conflicts: https://github.com/GlobalFishingWatch/pelagos-client/pull/393
- [x] Make the sidebar a bit wider to avoid the issue, based on your suggestion. Don't make it too wider, just to avoid the issue.

[2016-10-19 15:32] redhog commented on #391
Merged

[2016-10-19 15:32] #391 closed, assigned to redhog

[2016-10-20 19:00] enriquetuya opened #397 "Area Selector -- Avoid selecting the same vessel more than once"
It is possible with the current code to draw an area twice selecting all vessel twice. We don't want this to be possible, if you draw the area twice over the same area, no new vessels should be pinned.

[2016-10-21 02:43] enriquetuya commented on #394
@redhog
- [x] right now the only title that is uppercase is the one on the selected blade, we want all blade titles to be uppercase, no matter if they are selected or not.

  ![selection_043](https://cloud.githubusercontent.com/assets/355597/19584967/e1347acc-971e-11e6-9099-1f5b8f5d65dd.jpg)
- [ ] `flags` filter label should be `Flag`

![selection_044](https://cloud.githubusercontent.com/assets/35

[2016-10-21 08:21] redhog commented on #394
The "flags" title is taken from the selection name in the workspace, see https://github.com/GlobalFishingWatch/pelagos-client/blob/devel/js/app/Visualization/UI/FilterViewer.js#L45

Here is a workspace excerpt for how this is controlled - I've changed flags to Flags:

[code]

Notes:
- The term "Flags" shows up in two places: The selection name, and the filter column that uses this selection to fil

[2016-10-21 12:39] redhog commented on #397
Possible solutions:
- Filter by source url of all existing animations
- Keep track of vessels selected using the area selector

[2016-10-21 17:34] enriquetuya commented on #263
Everthing seems to be working here.

[2016-10-21 17:34] #263 closed, assigned to andres-arana

[2016-10-21 17:35] #385 closed, assigned to enriquetuya

[2016-10-21 17:35] #348 closed, assigned to enriquetuya

[2016-10-21 17:35] #390 closed, assigned to enriquetuya

[2016-10-21 17:35] #346 closed, assigned to enriquetuya

[2016-10-21 19:45] enriquetuya commented on #349
Back to the Plate. We may be using a SF integration for doing this.

[2016-10-24 13:10] #394 closed, assigned to enriquetuya

[2016-10-25 19:00] enriquetuya commented on #397
@redhog I could not test this due to this issue: https://github.com/GlobalFishingWatch/GFW-Issues/issues/20

[2016-10-26 13:45] enriquetuya commented on #397
This is happening on FF with the fix. On dev.globalfishingwatch.org

[2016-10-26 16:54] #386 closed, assigned to andres-arana

[2016-10-26 17:21] enriquetuya commented on #397
Will continue working on this the next sprint, commenting code for the 0.27 version: https://github.com/GlobalFishingWatch/GFW-Tasks/issues/342

[2016-10-27 14:53] redhog opened #413 "Edit workspace as text"
Connects https://github.com/GlobalFishingWatch/pelagos-api/issues/94

Let the user edit the workspace JSON (prettyfied) directly. Load the modified workspace into the current client and/or save it, possibly with a user chosen name.

[2016-10-27 15:02] redhog opened #414 "Refactor AnimationManager"
AnimationManager contains too much functionality, break it up into pieces

[2016-10-27 15:02] redhog opened #415 "AnimationGroupAnimation"
Make it possible to group animations (recursively)

[2016-11-10 15:20] redhog commented on #397
Unable to reproduce (on 20-mouseover-debugger branch which contains the other area inspector fix) on FF and Chrome on Linux and on MacOS.

[2016-11-10 16:36] redhog opened #422 "Document undocumented stuff"
* [x] The directory api (workspace.data.directories)
* [x] The workspace save URL (workspace.metadata.urls)
* [x] Tileset info files (ObjectToTable)
* [x] CartoDB layer info files (magic url links)

[2016-11-11 11:20] redhog commented on #422
Updated here: http://globalfishingwatch.github.io/pelagos-client/schema.html

[2016-11-11 11:20] #422 closed, assigned to redhog

[2016-12-01 18:54] enriquetuya commented on #231
@pwoods25443 we are having some questions from users that see dots on a global zoom level, but when they zoom in they stop seeing the fishing dots (they could if they use the intensity slider, but they do not). What do you think of enabling this feature as is? I know the transition is a bit harsh but it would solve the issue we are having.

Vizz map could keep on working on this issue on the futur

[2016-12-21 16:07] enriquetuya opened #429 "Upgrade vagrant version or add openjdk ppa repo"
Based on https://github.com/GlobalFishingWatch/pelagos-client/pull/427
We need to change vagrant version to xenial or add the openjdk repo so openjdk 8 is available for download when using vagrant locally.

Or migrate to docker.

[2017-01-02 19:27] enriquetuya commented on #413
@redhog check my comment here: https://github.com/GlobalFishingWatch/pelagos-client/pull/430/files#r94341219

[2017-01-03 20:20] enriquetuya commented on #413
@redhog the new key binding  is up to you. Use any key combination that we are not using now. It will be hidden in the shortcut pop-up help on prod, so just for internal use.

[2017-01-04 10:01] redhog commented on #413
CTRL-ALT-R

[2017-01-04 10:01] #413 closed, assigned to redhog

[2017-01-10 11:14] redhog opened #433 "TMSsupport broke non-temporal tiles"

[2017-01-10 11:15] #433 closed, assigned to redhog

[2017-01-13 14:37] pwoods25443 commented on #231
Closing this in favor of the new vizzuality UI

[2017-01-13 14:37] #231 closed, assigned to enriquetuya, pwoods25443

[2017-01-31 15:30] redhog opened #436 "Deployment script"
Deploy source code too

[2017-02-08 19:51] andres-arana commented on #436
This has been implemented for the `release-0.34` branch in the deployment repository. It'll be available once we deploy `0.34.x` tags to poduction, and it's already available in dev.globalfishingwatch.org.

[2017-02-08 19:51] #436 closed, assigned to andres-arana

[2017-04-28 14:15] andres-arana commented on #198
We moved out of this approach of sharing code between the new client and the old one, so I'm closing this ticket.

[2017-04-28 14:15] #198 closed, assigned to andres-arana

[2017-05-19 18:50] enriquetuya commented on #327
Outdated, using the new vizz map now.

[2017-05-19 18:50] #327 closed, assigned to redhog

[2017-05-25 11:19] timrobertson100 opened #438 "Quick start guide is broken"
I'm afraid the quick start from the [readme](https://github.com/GlobalFishingWatch/pelagos-client/blob/devel/README.md) fails as Git and NodeJs are not installed.  However, even when installed the build fails with the following:

[code]

[2017-05-25 11:34] timrobertson100 commented on #438
Here is what worked for me (disclosure: I am not a python guy) to get the server running, but the app still fails in the browser:

[code]

The browser will fail to pull the apikeys.json however:
  jquery.js:8630 GET http://localhost:8000/apikeys.json 404 (File not found)

[2017-05-25 11:41] timrobertson100 commented on #438
You can get past that issue by visiting [the Google site to get a maps key](https://developers.google.com/maps/documentation/javascript/get-api-key) and then:

[code]

You also need to edit some config files:

[code]

This will get a base map and the controls running, but seemingly no overlays...

[2017-05-29 19:11] enriquetuya commented on #438
@timrobertson100 the issue seems to be related to vagrant not running the `make prerequisites`, you will see that the prerequisites step does everything you have done manually, check:
https://github.com/GlobalFishingWatch/pelagos-client/blob/09fa86616786759eb01a0ccf072605e6986ac7d8/Vagrantfile#L10
and
https://github.com/GlobalFishingWatch/pelagos-client/blob/09fa86616786759eb01a0ccf072605e6986ac7d

[2017-05-29 19:34] timrobertson100 commented on #438
Thanks Enrique.
This was vagrant 1.8.1 and Virtualbox 4.3 - I'll report back when I get a chance to upgrade and try this again.

[2017-06-15 14:14] enriquetuya opened #440 "Add support for another map layer different than google maps"
We want to support a different map layer. We are considering http://leafletjs.com/ and https://openlayers.org/, leaflet seems to have more configuration options and seems to be more similar to google maps so it seems to be the bets fit.

The goal is to support a better offline mode and be able to run pelagos client on countries where google is blocked.

* [ ] Define JS library to use leafletjs or

[2017-06-15 14:34] enriquetuya commented on #440
@redhog Leaflet sample loading CartoDB layers: http://bl.ocks.org/javisantana/fa6ac10bcaff82f1921b

[2017-06-15 14:50] redhog commented on #440
http://ivansanchez.github.io/leaflet-vs-openlayers-slides/

[2017-06-15 14:51] redhog commented on #440
http://openlayers.org/en/latest/examples/cartodb.html

[2017-07-14 18:20] #440 closed, assigned to enriquetuya